<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
</head>
<body>
    <h1>Buscar Passeio</h1>
    <input type="text" name="buscar" id="buscar">
    <span class="material-symbols-outlined">
        search
    </span>
</body>
</html>