<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
</head>
<body>
    <h1>Buscar Passeio</h1>
    <input type="text" name="buscar" id="buscar">
</body>
</html>