<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="http://localhost:3000/css/menu.css">
</head>
<body>
    <header>
        <h1>DestinoCerto </h1>
    </header> 
    <main class="conteudoPrincipal">
        <div class="container">
            <ul>
                <li class="lista-menu"><a class="link-menu" href="/passeios/formCadastro" >Cadastrar Passeio</a></li>
                <li class="lista-menu"><a href="/passeios/formConsulta" class="link-menu">Consultar Passeio</a></li>
                <li class="lista-menu"><a href="/passeios/formCliente" class="link-menu">Cadastrar Cliente</a></li>
                <li class="lista-menu"><a href="/passeios/formConsultaCliente" class="link-menu">Consultar Cliente</a></li>
                <li class="lista-menu"><a href="/passeios/buscar" class="link-menu">Buscar</a></li>
            </ul>
        </div>
    </main>
    <footer>
        <p>Planeje, explore, viva cada passeio.</p>
    </footer>
</body>
</html>